/*reset css*/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
@font-face {
    font-family: "BaiJamjuree-Regular";
    src: url(../fonts/BaiJamjuree-Regular.ttf);
}
@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}
.main{
    background-color: #000000a1;
    width: 100%;
    
}
nav{
    position: sticky;
    top: 0px;
    background-color: #6E268E;
    z-index: 2;
    width: 100%;
}
.lista1{
    display: inline-block;
    position:relative;
    width: 100%;

}
.lista1 li{
    display: inline-block;
    position: relative;
    margin: 5px 30px 5px 30px;
    border-style: solid;
    border-radius: 15px;
    width: 300px;
}
.navSelec{
    text-align: center;
    color: whitesmoke;
    font-size: 1.2em;
    font-family: "Roboto-Regular";
    padding: 10px 20px 10px 20px;
    

}
/*titulos y cajas*/
body{
    background-image: url("../images/background3.jpg");
    background-size: cover; 
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding-bottom: 120px;
}
.ico{
    width: 30px
}
.title{
    padding: 10px;
    display: block;
    text-align: center;
    color: whitesmoke;
    font-size: 1em;
    font-family: "baiJamjuree-Regular";
}
.title2{
    padding: 20px;
    display: inline-block;
    position: relative;
    text-align: center;
    color: whitesmoke;
    font-size: 1.5em;
    font-family: "baiJamjuree-Regular";
    margin: 0px;
}
.parrafo{
    display: inline-block;
    position: relative;
    color: whitesmoke;
    font-size: 1em;
    padding: 20px;
    margin: 5px 0px 5px 0px;
    font-family: "baiJamjuree-Regular"
}
.listBox{
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: center;
}
.listBox li{
    display: inline-block;
    position: relative;
    margin: 30px 50px 30px 50px; 
    text-align: center;  
}
.titleBox{
    display: inline-block;
    position: relative;
    padding: 10px;
    width: 100%;
    text-align: center;
}
header{
    background-image: url("../images/header.jpg");
    background-size: contain;
    background-repeat: repeat-x;
    background-color: #ffffffc4;
    height: 120px;
}
/*footer*/
.footer{
    position: absolute;
    bottom: 0px;
    z-index: 0;
    height: 10vh;
}
.copyleft{
    font-size: large;
    text-align: center;
    color: #dadada; 
    font-family: "baiJamjuree-Regular"
}
.socialBox{
    display: inline-block;
    position: relative;
    padding: 5px;
    width: 45vw; 
    text-align: center;
}

.socialBox ul li{
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    text-align: center;
} 
.svg{
    background-size: cover;
    position: fixed;
    bottom: 60px;
    right: 40px; 
    width: 70px;
    height: 70px;
    padding: 4px;
    margin: 20px;
    background-color:#6E268E;
    border-radius: 50px;
    z-index: 1;
}
.yearBox{
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 10px;
    border: #6E268E solid 2px;
    border-radius: 15px;
    margin: 30px 30px 30px 30px;
    background-color: #6E268E;
    width: 300px;
}
.yearBox h2{
    display: inline;
    position: relative;
    text-align: center;
    width: 300px;
}
.yearBox h2 a{
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    color: whitesmoke;
    padding: 15px;   
    font-family: "Roboto-Regular"
}
.h:hover{
    background-color:#9E3D9E;
    border: #dadada solid 0.1px;
    border-radius: 13px;
}
.h2:hover{
    background-color:#9E3D9E;
    border: #dadada solid 0px;
    border-radius: 50px;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.ico:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.inputs{
    display: inline-block;
    position: relative;
    padding: 20px;
    width: 100%;
    text-align: center;
    color: #dadada;
    font-size: 1.5rem;
    font-family: "baiJamjuree-Regular"
}
fieldset{
    border: none;
}
.button{
    width: 100px;
    height: 40px;
    margin: 20px;
    text-align: center;
    background-color: #6E268E;
    border-radius: 15px;
    border: none;
    color: whitesmoke;
    font-family: "baiJamjuree-Regular";
    font-size: 1rem;
}
.field{
    width: 250px;
    height: 30px;
    text-align: start;
    padding: 5px;
    padding-left: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
    color: black;
    font-family: "baiJamjuree-Regular"
}

.resumeBox{
    display: inline-block;
    position: relative;
    width: 700px;
    margin: 10px;
}
.resume{
    display: inline-block;
    position: relative;
    width: 300px;
    height: 30px;
    text-align: start;
}
.resume ul{
    display: inline-block;
    position: relative;
    width: 100px;
    height: 30px;
    text-align: center;
}   
.resume ul li{
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0px;
}
.trailer{
    width: 560px; 
    height: 312px;
}
img{
    border-radius: 12px;
}